<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/clientes.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Sorveteria das Dondoca</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-header">
                <a class="navbar-brand" href="/">
                <img src="/img/logo.png" alt="Logo" width="64"class="d-inline-block align-text-top">
                <h1><b>Sorveteria das Dondoca</b></h1>
                </a>
            </div>
        </nav>
    </header>

    <main class="container">
        <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço</th>
                <th scope="col">Operação</th>
                </tr>
            </thead>
            <tbody> 
                <tr>
                    <th scope="row">1</th>
                    <td>Sorvete Fake</td>
                    <td>1 milhao</td>
                    <td>1 bilhao</td>
                    <td>
                        <a class="btn btn-warning" href="">Atualizar</a>
                        <a class="btn btn-danger" href="">Excluir</a>
                    </td>
                </tr>
            </tbody>
            </table>
    </main>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <a href="/"> Dyeizon Procopiuk</a>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>